# Logs #
/logs
*.log
*.log*
*.db

# Node files #
node_modules/
npm-debug.log
yarn-error.log

# Typing #
typings/

# Dist #
dist/

# volumes
mysql-data

# IDE #
.idea/
*.swp
.awcache

# Generated source-code #
src/**/*.js
src/**/*.js.map
!src/public/**/*
test/**/*.js
test/**/*.js.map
coverage/
!test/preprocessor.js
mydb.sql
schema.gql
